<!-- footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="f-bl">
      <div class="f-bl__left">
        <div class="logo">
          <a href="#">
            <img src="img/logo.svg" alt="">
          </a>
        </div>
        <div class="social-footer">
          <div class="social-footer__name">Follow Us:</div>
          <ul class="social">
            <li><a href="#"><img src="img/soc1.svg" alt="social"></a></li>
            <li><a href="#"><img src="img/soc2.svg" alt="social"></a></li>
            <li><a href="#"><img src="img/soc3.svg" alt="social"></a></li>
          </ul>
        </div>
      </div>
      <div class="f-bl__middle">
        <ul class="f-cont-list">
          <li>+7 (885) 589 69 85</li>
          <li>Monday–Friday: 9:00AM–5:00PM</li>
          <li>stylish_concrete_solutions@info.com</li>
          <li>Chicago, Illinois, USA</li>
        </ul>
      </div>
      <div class="f-bl__right">
        <nav class="f-menu-nav">
          <ul class="f-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Works</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
  <div class="f-copy">
    <div class="container">
      &copy;2021 <span>Stylish Concrete Solutions.</span> All Rights Reserved
    </div>
  </div>
</footer>
<!-- end footer -->