<!-- header -->
<header id="header" class="header">
  <div class="container header__inner">

    <div class="logo">
      <a class="logo__link" href="#"><img src="img/logo.svg" alt="logotype"></a>
      <span class="logo__txt">Authorized CTI dealer</span>
    </div>

    <div class="head-menu">
      <div class="burger-menu">
        <div class="burger-menu-box">
          <div class="burger-menu-inner"></div>
        </div>
      </div>


      <div class="menu-wrapper-fixed">
        <div class="menu-open-wrapper">

          <nav class="header-nav">
            <ul class="menu">
              <li class="menu-item">
                <a href="#" class="menu-item__link">Home</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">About Us</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Our Works</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Services</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Shares</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Testimonials</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Contact Us</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>
</header>
<!-- end header -->